!!! 5
%html
  %head
    %link(type='text/css' rel='stylesheet' href="#{url('/css/cid.css')}")
    %link(type='text/css' rel='stylesheet' href="#{url('/css/lightbox.css')}")
    %script(type='text/javascript' src="#{url('/js/jquery-1.7.2.min.js')}")
    - #  %script(type='text/javascript' src="#{url('/js/jquery-ui-1.8.18.custom.min.js')}")
    - #   %script(type='text/javascript' src="#{url('/js/jquery.smooth-scroll.min.js')}")
    %script(type='text/javascript' src="#{url('/js/lightbox.js')}")
    %title Cute Image Database
  %body
    #header
      %a(class='cidtitle' href="#{url '/'}")
        %h1 cid
      %h5 Your independent image hoster
    #content
      =yield
    #footer
      %br
      %br
      %div
        %span(class='footer link')© 2012 Anton Pirogov
        %a(class='footer link' href='http://github.com/apirogov/cid')cid source
