%h3= @g.title
#desc= Kramdown::Document.new(@g.desc).to_html
%br
- @g.pics.each do |k,v|
  %div
    %a(href="/img/#{@g.id}/#{k}")
      %img(src="/thumb/#{@g.id}/#{k}")
    %br
    %small= v
    %br
    %br
%br

%span(class='footer' style='color: gray;')Click on thumbnails to view full size
%span#editshow
  |
  %span{class: 'footer', style: 'color:blue;', onclick:'$("#editshow").hide(); $("#edit").show();'} Edit Gallery

%div#edit(style='display:none;')
  Password:
  %input(type='password' name='pwd' id='pwd')
  %button{onclick:'window.location="'+url("/edit/#{@g.id}/")+'"+$("#pwd").val()'} Edit Gallery

%br
- if @g.expires
  %span(class='footer' style='color: gray;')This gallery expires at
  %span(class='footer' style='color: black; font-weight: bold;')= Time.at(@g.expires).to_s[0..-6]
